* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: cornsilk;
  width: 250px;
}
.form {
  padding: 20px;
}
.header {
  background: #f5f1f1;
  padding: 20px 20px;
  border-bottom: 1px solid black;
}

.header h2 {
  margin: 0px;
}
input {
  display: block;
  margin: 5px 0;
}

.form-control {
  padding: 10px;
}
